@font-face {
  font-family: 'Recta-Medium';
  src: url('../fonts/Recta-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Recta-Medium.otf')  format('opentype'),
	     url('../fonts/Recta-Medium.woff') format('woff'), url('../fonts/Recta-Medium.ttf')  format('truetype'), url('../fonts/Recta-Medium.svg#Recta-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Recta-Medium';
  src: url('../fonts/Recta-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Recta-Light.otf')  format('opentype'),
	     url('../fonts/Recta-Light.woff') format('woff'), url('../fonts/Recta-Light.ttf')  format('truetype'), url('../fonts/Recta-Light.svg#Recta-Light') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Recta-Medium';
  src: url('../fonts/Recta-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Recta-Bold.otf')  format('opentype'),
	     url('../fonts/Recta-Bold.woff') format('woff'), url('../fonts/Recta-Bold.ttf')  format('truetype'), url('../fonts/Recta-Bold.svg#Recta-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
