#footer
  .container
    .mail
      a(href="mailto:ventas@umatower.com ") ventas@umatower.com 
    .dir
      .name
        p LIVING PERFECTION
      .this
        p BLVD. Bosque Real # 17 Huixquilucan, EDO. MeX
    .tel
      span +52 (55)1234 5678
