doctype
html
  head
    title UMA | Amenidades
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="assets/css/style.css")
    link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  body
    #amenidades
      include _menu.html
      .sub-menu
        ul
          li
            a(href="#uno") alberca/gimnasio
          li
            a(href="#dos") salón usos múltiples
          li
            a(href="#tres") área común acceso
          li
            a(href="#cuatro") área común segundo nivel
          li
            a(href="#cinco") área común roof garden
          li
            a(href="#seis") estacionamiento 1
          li
            a(href="#siete") estacionamiento 2
      .contenedor-home
        .section1.secc#uno
          .top
            .texto-lead
              h2 01.<br>amenidades / 
              h3 alberca - gimnasio
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-01.png")
        .section2.secc#dos
          .top
            .texto-lead
              h2 02.<br>amenidades / 
              h3 SALÓN USOS MÚLTIPLES
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-02.png")
        .section3.secc#tres
          .top
            .texto-lead
              h2 03.<br>amenidades / 
              h3 ACCESO ÁREA COMÚN
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-03.png")
        .section3.secc#cuatro
          .top
            .texto-lead
              h2 04.<br>amenidades / 
              h3 ÁREA COMÚN SEGUNDO NIVEL
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-04.png")
              
        .section3.secc#cinco
          .top
            .texto-lead
              h2 05.<br>amenidades / 
              h3 ÁREA COMÚN ROOF GARDEN
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-01.png")
              
        .section3.secc#seis
          .top
            .texto-lead
              h2 06.<br>amenidades / 
              h3 Estacionamiento 1
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-02.png")
        .section3.secc#siete
          .top
            .texto-lead
              h2 07.<br>amenidades / 
              h3 Estacionamiento 2
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-03.png")
        
      include _footer.html
          
          
          
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(type="text/javascript" src="assets/js/functions.js")
