doctype
html
  head
    meta(charset="UTF-8")
    title UMA | Amenidades
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="assets/css/style.css")
    link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  body
    #amenidades
      include _menu.html
      .sub-menu
        ul
          li
            a(href="#uno") alberca/spa
          li
            a(href="#dos") salón usos múltiples
          li
            a(href="#tres") terraza / gimnasio
          li
            a(href="#cuatro") Sky Garden
          li
            a(href="#cinco") Acceso
          li
            a(href="#seis") 2o nivel
          li
            a(href="#siete") Estacionamiento 1
          li
            a(href="#ocho") Estacionamiento 2
      .contenedor-home
        .section1.secc#uno
          .top
            .texto-lead
              h3 alberca - gimnasio
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-01.png")
        .section2.secc#dos
          .top
            .texto-lead
              h3 SALÓN USOS MÚLTIPLES / LUDOTECA
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-02.png")
        .section3.secc#tres
          .top
            .texto-lead
              h3 Terraza / Gimnasio
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/terraza.jpg")
        .section3.secc#cuatro
          .top
            .texto-lead
              h3 Sky Garden
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/sky-lounge.jpg")
              
        .section3.secc#cinco
          .top
            .texto-lead
              h3 Acceso
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-03.png")
        .section3.secc#seis
          .top
            .texto-lead
              h3 2do Nivel
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/plano-alberca.jpg")
        .section3.secc#siete
          .top
            .texto-lead
              h3 Estacionamiento 1
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-03.png")
        .section3.secc#ocho
          .top
            .texto-lead
              h3 Estacionamiento 2
            .texto
              p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Boovkmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. 
          .bottom
            .imagen
              img(src="assets/img/am-03.png")
        .texto
          p *Las imágenes que se muestran son representativas. El proyecto podrá tener variaciones. La validez será la que se exprese en el contrato.
        
      include _footer.html
          
          
          
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(type="text/javascript" src="assets/js/functions.js")
