doctype
html
  head
    meta(charset="UTF-8")
    title UMA | Interiores
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="assets/css/style.css")
    link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  body
    #interiores
      include _menu.html
      .contenedor-home
        .section1.secc
          .iz
            h2 01. cocina <span>22M2</span>
          .de
            img(src="assets/img/int-01.png")
            img(src="assets/img/int-02.png")
            img(src="assets/img/int-03.png")
        .section2.secc
          .iz
            h2 02. sala comedor <span>22M2</span>
          .de
            img(src="assets/img/int-04.png")
            img(src="assets/img/int-05.png")
            img(src="assets/img/int-06.png")
        .section3.secc
          .iz
            h2 03. recámara <span>22M2</span>
          .de
            img(src="assets/img/int-07.png")
            img(src="assets/img/int-08.png")
        
      include _footer.html
          
          
          
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(type="text/javascript" src="assets/js/functions.js")
