doctype
html
  head
    meta(charset="UTF-8")
    title UMA | Ubicación
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="assets/css/style.css")
    link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  body
    #ubicacion
      include _menu.html
      .contenedor-home
        .top
          .iz
            .lead
              h2 Blvd Bosque Real 17  Huixquilucan, EDO. MeX
            .ind
              p  A <span>5 minutos</span> de Interlomas
              p  A <span>8 minutos</span> de Bosques de las Lomas
              p  A <span>20 minutos</span> de Santa Fe
              p  A <span>25 minutos</span> del Toreo
          .de
            .iframe
              .
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.557081320274!2d-99.28466398509332!3d19.43153408688489!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d205de474531d9%3A0x6b5284336255df1a!2sUMA+TOWER!5e0!3m2!1ses-419!2smx!4v1532540010959Google" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        .bottom
          .iz
            .titulo
              h3 vialidades para acceso a bosque real
            .desc
              p Viaducto Interlomas-bosque real
              p Barranca de hueyetlaco
              p Barranca del negro
              p Bleep MEXICO-TLC-CHAMPA-LECHERIA
          .de
            .titulo
              h3 Puntos de Interés Cercanos
            .desc
              p Hospital Ángeles
              p Universidad UP (Próximamente)
              p Colegio Bosque Real
              p Universidad Anahuac
              p Paseo Interlomas
              p Centrall (proximamente)
              p Magno Centro
              p Sport City
              p Nelson Vargas
        
      include _footer.html
          
          
          
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(type="text/javascript" src="assets/js/functions.js")
